.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #2c45d3;
    color: #fff;
    padding: 2em;
    justify-content: space-around;
    align-content: center;
}

.footer p {
    display: flex; /* Activer le modèle de boîte flexible */
    align-items: center; /* Centrer verticalement le contenu dans le li */
    height: 100px; /* Ajustez la hauteur selon vos besoins */
}

.footer p a {
    color: #fff;
    text-decoration: none;
}

.footer p a:hover {
    text-decoration: underline;
}

.reseaux-sociaux a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
}

.reseaux-sociaux a:hover {
    background: #fff;
    color: #2c45d3;
    box-shadow: 0 0 20px #fff;
}

.bx {
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
}

#logo-iut img {
    width: 200px;
    height: 100px;
}

#logo-iut {
    display: flex; /* Activer le modèle de boîte flexible */
    align-items: center; /* Centrer verticalement le contenu dans le li */
}