body {
    font-family: Montserrat;
    background: #1f242d;
    padding: 0;
    margin: 0;
}

/* debut prog */    
.container-profil {
    margin-top: 20vh;
    display: flex;
    flex-wrap: nowrap;   
    justify-content: space-between;
}

.aside {
    margin-right: 8vh;
}

.aside img {
    width: 100vh;
    border-radius: 2em;
}

.info-artiste-container {
    margin-top: 10vh;
    margin-left: 20vh;
    margin-right: 8vh;
    justify-content: center;
    align-items: center; 
}

.info-artiste-container p {
    font-weight: 400;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.footer {
    margin-top: 30vh;
}