body {
    font-family: Montserrat;
    background: linear-gradient(to bottom, #1f242d, #faf6e7);
    /* Pour une compatibilité maximale avec les navigateurs */
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0%;
}


/* Style pour le conteneur vidéo */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Hauteur de la fenêtre visible */
    overflow: hidden;
  }
  
  /* Style pour la vidéo */
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Redimensionne la vidéo pour remplir le conteneur */
    z-index: -1; /* Place la vidéo en arrière-plan */
    border: none;
  }

.header {
    display: flex;
    justify-content: center;
    align-content: center;
}

.date-festival-right {
    display: block;
    position: absolute;
    right: 0; /* Aligné à gauche de la page */
    top: 0; /* Aligné en haut de la page */
    width: 30px; /* Largeur du conteneur vertical */
    height: 100%; /* Hauteur du conteneur vertical pour occuper toute la hauteur de la page */
    color: #fff; /* Couleur du texte */
    writing-mode: vertical-rl; /* Orientation verticale du texte */
    text-orientation: mixed; /* Orientation verticale */
    text-align: center; /* Centre le texte vertical */
}

.date-festival-left {
    display: block;
    position: absolute;
    left: 0; /* Aligné à gauche de la page */
    top: 0; /* Aligné en haut de la page */
    width: 30px; /* Largeur du conteneur vertical */
    height: 100%; /* Hauteur du conteneur vertical pour occuper toute la hauteur de la page */
    color: #fff; /* Couleur du texte */
    writing-mode: vertical-rl; /* Orientation verticale du texte */
    text-orientation: mixed; /* Orientation verticale */
    text-align: center; /* Centre le texte vertical */
    rotate: 180deg;
}


.section-info {
    margin: 5em;
}

.titre-info {
    color: #091417;
}
 
.footer-home {
    background-color: #2c45d3;
    color: #fff;
    padding: 2em;
}


/* media */
/* @media screen and (max-width: 678px) {
    .home-img img {
        max-width: 250px;
        max-height: 250px;
      }
}

@media screen and (max-width: 678px) {
    .home-img img {
        display: none;
      }

} */

@media screen and (max-width: 492px) {
    .video-container {
        height: 120vh; /* Hauteur de la fenêtre visible */
      }
}