body {
    font-family: Montserrat;
    background: #b82b2b;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
}

.titre {
    margin: 1em;
}

.nav {
    margin-top: 1.5em;
}

.liste-nav {
    display: flex;
}

.liste-nav > li {
    margin-left: 1em;
}

/* debut prog */    
.liste-artiste {
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-around;
}

.section-artiste {
    background-color: #1f242d;
    border-radius: 1em;
    padding: 1em;
    margin: 2em;
}

.section-artiste li {
    color: #fff;
}