<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="video-container">
        <video autoplay loop muted>
            <source src="../static/img/affiche.mp4" type="video/mp4">
            <!-- Vous pouvez ajouter d'autres formats vidéo ici pour la compatibilité avec différents navigateurs -->
        </video>
        {% extends "base.html" %}
        {% block base %}
        <h1 class="titre">Festiut’O</h1> 
        <div class="date-festival-left">
            <p>17.18.19 mai 2024</p>
        </div>
        <div class="date-festival-right">
            <p>17.18.19 mai 2024</p>
        </div> 
            
        <!-- </header> -->
    </div>
    <section class="section-info">
        <h2 class="element" id="titre-info">Notre festival en quelque mot</h2>
        <p class="element">90.000 participants l'annee 2023</p>
    </section>
    {% endblock %}
</body>
</html>